{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block body %}
<div id="facebookLoginButton">
  <fb:login-button scope="public_profile,email,read_stream" onlogin="checkLoginState()">
  </fb:login-button>
</div>

<!-- start feed -->
<div>
  <h2> Happy Feed </h2>
  <div id="status"></div>
  <div id="feed">
    <li>
      {% raw %}
      <script id="template" type="x-tmpl-mustache">
        <div id={{ id }} class="post">
          <blockquote>
            <p>{{ summary }}</p>
            <small><cite title="Source Title">{{ author }}</cite></small>
          </blockquote>
        </div>

      </script>
      {% endraw %}
    </li>
  </div>
  <!-- end feed -->
</div>
<div class="modal"></div>

{% endblock %}

{% block scripts %}

<script src="{{ url_for('static', filename='js/mustache.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/home.js') }}"></script>

{% endblock %}
